<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://transloadit.edgly.net/releases/uppy/v0.22.2/dist/uppy.min.css" rel="stylesheet">
  <script src="https://transloadit.edgly.net/releases/uppy/v0.22.2/dist/uppy.min.js"></script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <div class="UppyDragDrop"></div>
  <button class="UppyDragDrop-Two-Upload">Upload</button>
  <script>
    var uppy = Uppy.Core({
      debug: true,
      autoProceed: false,
      restrictions: {
        maxFileSize: 1000000,
        maxNumberOfFiles: 3,
        minNumberOfFiles: 2,
        allowedFileTypes: ['image/*', 'video/*']
      }
    })
    uppy.use(Uppy.DragDrop, {
      target: '.UppyDragDrop'
    })
    uppy.use(Uppy.Tus, {
      endpoint: '//master.tus.io/files/'
    })
    // uppy.use(Uppy.ProgressBar, {target: '.UppyDragDrop-One-Progress'})
    uppy.run()
    var uploadBtn = document.querySelector('.UppyDragDrop-Two-Upload')
    uploadBtn.addEventListener('click', function () {
      uppy.upload()
    })
    //   uppy.on('complete', result => {
    //   console.log('successful files:', result.successful)
    //   console.log('failed files:', result.failed)
    // })
  </script>
  <script src="https://transloadit.edgly.net/releases/uppy/v0.22.2/dist/uppy.min.js"></script>
</body>

</html>